* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  justify-content: center;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  background-image: url(mathilde.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  font-size: 500%;
  text-align: center;
  place-content: center;
  display: grid;
  margin-top: 70px;
}
.grid_1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
  text-indent: 90px;
  display: grid;
  padding: 10px;
}

iframe {
  place-content: center;
  display: grid;
  margin-left: 800px;
  margin-right: 400px;
  padding: 20px;
}

video {
  place-content: center;
  display: grid;
  margin-left: 625px;
  padding: 30px;
}

.billeder {
  width: 30%;
  height: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-flow: wrap;
  padding: 10px;
  margin-left: 35%;
  gap: 10px;
  border: 9px;
  background-color: rgb(255, 255, 255);
}

.billeder img {
  object-fit: contain;
  align-content: stretch;
  place-content: center;
}

.img-3,
.img-4 {
  grid-row: span 2;
}

.grid_2 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
  text-indent: 90px;
  display: grid;
  margin-right: 100px;
  margin-left: 100px;
  padding: 20px;
}
