* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #2d2d2d;
  background-color: rgb(221, 220, 220);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  font-size: 500%;
  justify-content: center;
  top: 30%;
}

.grid {
}

.grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-top: 10px;
}
